@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Cabin');
* { box-sizing: border-box; }


body {
	margin: 0px;
	padding: 0px;
	font-family: 'Cabin';
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0px;
	padding: 0px;
}

/* navigation */
.landing-page_background-image>div>.navbar {
	background-color: transparent;
}
.navbar-nav>button{
	padding: 6px 20px !important;
}
.navbar_button--submit{
	color: #fff;
	border: 2px solid #D72638;
	border-radius: 0px;
	background-color: transparent;
}
.navbar_button--signin{
	color: #fff;
	background-color: transparent;
}
.navbar_button--join{
	color: #fff;
	border-radius: 0px;
	background-color: #D72638;
}

/* header navigation */
.header-navigation{
	background-color: #01161E;
}

/* landing page banner image */
.landing-page_background-image {
	position: relative;
	background:linear-gradient(0deg, rgba(0,0,10,0.5), rgba(0,0,10,0.5)), url('../images/banner-image.jpg') center center no-repeat;
	background-size: cover;
	height: 70vh;
}
.landing-page_content {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 50%;
	transform: translate(0,-50%);
	color: white;
}
.landing-page_content>h1 {
	font-size: 60px;
	font-weight: bold;
	font-family: 'Josefin Sans', sans-serif;
}
.landing-page_content>p {
	font-size: 18px;
	font-family: 'Cabin', sans-serif;
}
.landing-page_content--highlighted-text {
	display: inline-block
	font-weight: bold;
	border-bottom: 4px #D72638 solid;
}
/* landing page search bar */
.landing-page_content--search-bar {
	margin: 20px auto 0px;
	max-width: 800px;
}
.landing-page_content--search-input {
	border-radius: 0;
	padding: 13px 20px;
	font-size: 18px;
	border: 0;
}
.landing-page_dropdown{
	padding: 10px 0px;
	background-color: #fff;
}
.landing-page_content--dropdown {
	border-radius: 0;
	background-color: #fff;
	border-left: 1px solid #888;
	color: #333;
	font-size: 14px;
}
.landing-page_content--search-button {
	background-color: #D72638;
	border-radius: 0;
	color: white;
	width: 60px;
	font-size: 20px;
}
/* landing page search bar */
.header-navigation{
	/* padding: 10px 0; */
}
.header-navigation_content--search-bar {
	max-width: 600px;
}
.header-navigation_content--dropdown {
	border-radius: 0;
	background-color: #EDF2F4;
	color: #333;
	border: 0;
}
.header-navigation_content--search-button {
	background-color: #D72638;
	border-radius: 0;
	color: white;
	font-size: 16px;
	width: 60px;
}

.landing-page_social{
	position: absolute;
	bottom: 20px;
	right: 20px
}
.landing-page_photo-of-the-day-credit {
	position: absolute;
	bottom: 20px;
	left: 20px;
}
.landing-page_photo-of-the-day-credit>p{
	color: #888;
	font-size: 16px;
}
.landing-page_photo-of-the-day-credit>p>span{
	color: #fff;
}

/* stock-images */
.stock-image{

}
.stock-image_title{
	font-weight: bold;

}
.stock-image_category{
	font-size: 18px;
	list-style-type: none;
}
.stock-image_category>li{
	display: inline-block;
	padding: 0 15px;
	color: #888;
	cursor: pointer;
}
.stock-image_category>li:nth-child(n+2){
	border-left: 1px solid #888;
}
.stock-image_category .active{
	color: #333;
}
/* .stock-image_category button{
	padding: 0 15px;
	font-size: 18px;
	background: transparent;
	color: #888;
}
.stock-image_category button:nth-child(n+2){
	border-left: 1px solid #888;
}
.stock-image_category .active {
	color: #333;
} */

/* image grid masonry js */
.clearFix{
	clear: both;
	display: block;
	height: 10px;
	width: 10px;
}
.grid {
	/* background: #ddd; */
	margin-top: 20px;
	position: relative;
	min-height: 600px;
}
.grid:after{
	content:'';
	display: block;
	clear: both;
}
.grid-item {
	width: 33.333%;
	padding:0 10px 20px 10px;
	/* background-color: #D26;
	border: 1px solid #333; */
}

.grid-item_image-container{
	position: relative;
}
.grid-item_image-container img{
	display: block;
	position: relative;
	max-width: 100%;
	z-index: 0;
}
.grid-item img{
	display: block;
	max-width: 100%;
}
.grid-item_image-overlay {
	display: block;
	opacity: 0;
	/* background: rgba(0, 0, 0, 0.5); */
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 10;
}
.grid-item_image-overlay:hover {
	cursor: pointer;
	transition: 0.3s ease;
	opacity: 1;
}
.grid-item_image--top{
	position: absolute;
	top: 20px;
	right: 20px;
}
.grid-item_image--bottom{
	position: absolute;
	bottom: 20px;
	left: 20px;
	right: 20px;
	color: #fff;
}
.grid-item_image--bottom>p{
	font-size: 16px;
}
.stock-image_load-more-button {
	font-size: 18px;
	color: #fff;
	padding: 5px 20px;
	background-color: #D72638;
	border-radius: 0;
}


.popular-tag{
	list-style-type: none;
	padding: 0;
}
.popular-tag>li{
	display: inline-block;
	background-color: #eee;
	margin-bottom: 20px;
}
.popular-tag>li:nth-child(n+2){
	margin-left: 20px;
}
.popular-tag>li>a{
	text-decoration: none;
	color: #888888;
	display: block;
	padding: 3px 20px;
}


/* single page stylesheet */
.main-image{
	margin-top: 20px
}

.main-image_container{
	display: block;
	width: 100%;
	/* height: 100vh; */
	/* background-color: #D25; */
    max-height: calc(100vh - 78px);
}
.main-image_container>img{
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}
.main-image_information--userdetails>p>a{
	text-decoration: underline;
	color: #888888;
}
/* like collect share */
.main-image_interaction-button{
	padding: 7px 0;
	border-radius: 0;
	background-color: #f7f7f7;
	color: #555555;
}
.main-image_interaction-button--active{
	background: #D72638;
	color: #fff;
}
.main-image_interaction-button>img{
	height: 18px;
}
.main-image_interaction-button>span{
	font-size: 18px;
}
/* download button */
.main-image_download-button--group{
	margin-top: 50px;
}
.main-image_download-button {
	border-radius: 0;
	background-color: #37B768;
	padding: 10px 0;
	color: #fff;
}
.main-image_download-button>img {
	height: 24px;
}
.main-image_download-button>span {
	font-size: 20px;
}
.main-image_download-size{
	border-radius: 0;
	color: #fff;
	background-color: #37B768;
	position: relative;
	width: 60px;
	font-size: 18px;
}
.main-image_download-size:before{
	display: block;
    content: "";
    height: 70%;
    position: absolute;
    left: 0;
	top: 50%;
	transform: translate(0, -50%);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}
.main-image_image-details {
	margin-top: 50px;
	padding: 20px;
	background-color: #EDF2F4;
}
.main-image_image-details--camera>img{
	height: 36px;
}
.main-image_image-details--camera>p{
	font-size: 24px;
	color: #555555;
}
.main-image_image-details--list{
	font-size: 16px;
	color: #555555;
	padding: 0;
	list-style-type: none;
}
.main-image_image-details--list>li{
	display: block;
}
.main-image_image-details--separator{
	background-color: #555;
}

.side-bar{
	margin-top: 20px;
	padding: 20px;
	display: block;
	border: 2px solid #333;
	height: 500px;
}

/* user image tab */
.imageUser_category-tab {
	background-color: #EDF2F4;
	padding-top: 10px;
}
.imageUser_category-tab>.nav-tabs{
	border: 0;
}
.imageUser_category-tab>.nav-tabs>.nav-link{
	color: #555;
	border: 0;
	font-size: 18px;
}
.imageUser_category-tab>.nav-tabs>.nav-link.active {
	border: 0;
	border-bottom: 2px solid #D72638;
	background: transparent;
	color: #D72638;
}
.sorting-selection{
	max-width: 150px;
	border: 0;
	background-color: #EDF2F4;
	color: #333;
	border-radius: 0;
}
.sorting-selection_image{
	width: auto !important;
    min-width: 120px;
    max-width: 210px;
	border: 0;
	background-color: transparent;
	color: #333;
	border-radius: 0;
}
/* searched user */
.user-search{
	border: 1px solid #888;
	padding: 20px;
}
.user-search_images--container {
	height: 110px;
}
.user-search_images--container>img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}


/* footer */
footer{
	background: #EDF2F4;
}
.contribute_button{
	background: transparent;
}
.contribute_button>img{
	margin: 0 auto;
}
.contribute_button--title{
	font-family: 'Josefin Sans';
	color: #01161E;
	font-weight: bold;
	margin-top: 10px;
}

.footer-separator-line{
	background: #333;
	height: 2px;
	width: 100px;
}

.footer-social-sites{

}
.footer-social-site_group{
	list-style-type: none;
	padding: 0;
}
.footer-social-site_group--icon{
	display: inline-block;
	margin: 0 10px;
}

.footer-navigation_nav{
	list-style-type: none;
	padding: 0;
}
.footer-navigation_nav--links{
	display: inline-block;
}
.footer-navigation_nav--links>a{
	padding: 0 20px;
	text-decoration: none;
	font-size: 20px;
	color: #555;
}
